<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header bg-success">
                Submission successful!
            </h5>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <td>{{name}}</td>
                    </tr>

                    <tr>
                        <th>Email</th>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <th>Uploaded file</th>
                        <td>{{fileName}}</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>{{fileSize}} bytes</td>
                    </tr>
                    <tr>
                        <th>MIME Type</th>
                        <td>{{fileType}}</td>
                    </tr>
                </table>
                <div>
                    {{!-- Because we know we saved the file in the "uploads" folder, which we set up to be accessible,
                    we can just point to the file name like this. --}}
                    <img src="{{fileName}}" alt="{{fileName}}" class="img-fluid mx-auto d-block">
                </div>

            </div>
        </div>
    </div>
</div>