<style>
    .gallery-product,
    .gallery-view {
        margin-bottom: 30px;
    }
</style>

<div class="gallery-view row">

    {{!-- TODO Ex 4 Step 5. Delete these <div>s and replace them with proper entries from the gallery array. --}}
        {{#if gallery}}
            {{#each gallery}}
            <div class="gallery-product col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <a href="images/fullsize/{{this}}"> <img src="images/thumbnails/{{this}}" class="img-fluid rounded mx-auto d-block"></a>
            </div>
            {{/each}}
            {{else}}
                <p>images array is empty</p>
        {{!-- TODO Ex 4 Step 6. Display an alternate message if there are no entries in the gallery array. --}}
        {{/if}}

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Upload new image
                </h5>
                <div class="card-body">
                    {{!TODO Ex 5 Step 1. Set the correct enctype for the form.}}
                    <form action="/" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="form-control-file" type="file" id="fileUpload" name="fileUpload" accept=".jpg,.jpeg,.bmp,.png"
                                required>
                        </div>

                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Upload">
                            <input class="btn btn-default" type="reset" value="Clear">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>