<!doctype html>
<html>

<head>
    <title>CS719 Forms &amp; File Upload Examples</title>

    {{!-- <style type="text/css">
        /* Any extra CSS you need goes here */
        .container {
            margin-top: 20px;
        }

        th {
            font-weight: bold;
            text-align: right;
        }

        td {
            text-align: left;
        }

        .centered-image {
            margin: 0 auto;
        }
    </style> --}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container mt-4">
        {{{body}}}
    </div>
</body>

</html>