<div class="row">
    <div class="col-md-12">

        <div class="card">
            <h5 class="card-header bg-primary">
                Ultimate Form of Forminess
            </h5>
            <div class="card-body">
                <form action="/submit" method="POST">

                    <fieldset>
                        <legend>Your details</legend>

                        <div class="form-group">
                            <label for="nameField">Name:</label>
                            <input class="form-control" type="text" id="nameField" name="name">
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Options</legend>

                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="options"
                                    value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">Option One</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="options"
                                    value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">Option Two</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="options"
                                    value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">Option Three</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="options"
                                    value="option4">
                                <label class="form-check-label" for="inlineCheckbox4">Option Four</label>
                            </div>
                        </div>

                    </fieldset>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit with POST</button>
                        <button type="submit" formmethod="GET" class="btn btn-primary">Submit with GET</button>
                        <button type="reset" class="btn btn-default">Clear</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>