<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header bg-success">
                Submission successful!
            </h5>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Your name</th>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <th>Your options</th>
                        <td>
                            {{#if options}}
                            <ul>
                                {{#each options}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                            {{else}} None {{/if}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>